.profile {
    display: inline-block;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}

.avatar {
    background-color: #fff;
}

.name {
    font-weight: 700;
}

.description {
    background-color: rgb(186, 205, 240);
    padding: 10px;

    border-bottom: 1px solid black;
}

.stats {
    display: flex;
    justify-content: space-around;
    background-color: rgb(217, 216, 218);
    padding: 10px;
    margin: 0;
    text-align: left;
}

.statsItem {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 10px;
    
}

.statsItem:not(:last-child) {
border-right: 1px solid rgb(196, 195, 195);
}
