.transactionHistory {
    width: 300px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid black;
    
}